body {
    font-family: Kanit, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    width: 100%;
    height: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slider img {
    max-width: 100%;
    height: auto;
}

#toggle-cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff6600;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 2;
}

#toggle-cart-button i {
    vertical-align: middle;
}

#toggle-cart-button .cart-text {
    vertical-align: middle;
}

.cart {
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    transition: transform 0.3s;
    transform: translateX(100%);
    z-index: 1;
}

main {
    padding: 20px;
}

.contato {
    background-color: #f4f4f4;
    padding: 20px;
}

.contato h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contato form {
    max-width: 400px;
    margin: 0 auto;
}

.contato label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contato button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato button[type="submit"]:hover {
    background-color: #0056b3;
}

.background-dark {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    padding: 20px 0;
}

.fliperMaker {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.fliperMaker h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.fliperMaker p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.fliperMaker a {
    color: #fff;
    text-decoration: none;
}

.fliperMaker a:hover {
    text-decoration: underline;
}

.redes_sociais .icone-facebook,
.redes_sociais .icone-instagram,
.redes_sociais .icone-whatsapp {
    font-size: 30px;
    margin-right: 10px;
    color: #007bff;
}

.formas_de_pagamento img {
    max-width: 100%;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
