/* Reset de estilos básicos */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Ajuste a margem direita para mover a logo para a esquerda */
.logo {
    margin-left: 90px; /* Você pode ajustar o valor conforme necessário */
}

.logo img {
    max-width: 80px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção de destaque */
.destaque {
    background-image: url("background.jpg");
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.destaque h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.destaque p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #e65000;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
